{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h2>Blog Post Title</h2>
    <!-- Your existing blog post content here -->

    <div id="chat-container">
      <div id="chat-messages"></div>
      <input id="chat-input" type="text" placeholder="Type your message">
      <button id="chat-send">Send</button>
    </div>
  </div>

  <script>
    const chatSocket = new WebSocket('ws://' + window.location.host + '/ws/chat/');

    chatSocket.onmessage = function (e) {
      const data = JSON.parse(e.data);
      document.querySelector('#chat-messages').innerHTML += '<p>' + data.message + '</p>';
    };

    document.querySelector('#chat-send').onclick = function (e) {
      const messageInputDom = document.querySelector('#chat-input');
      const message = messageInputDom.value;
      chatSocket.send(JSON.stringify({ 'message': message }));
      messageInputDom.value = '';
    };
  </script>
{% endblock %}